__pycache__/
.idea/
.vscode/
.history/
*.code-workspace
.tmp
.cache
config.ini
snapshots/**
startup-scripts/**
.openart_key
.youml
matrix_auth
channels.list
comfyworkflows_sharekey
github-stats-cache.json
pip_overrides.json
*.json
check2.sh
/venv/